<!DOCTYPE HTML>
<html>
  <head>
    <title>Image Transformation</title>
  </head>

  <body>
    <h1>Image Transformation</h1>
    <img src = {{f1}} />
    <form>
      <input type='text' value='Original Image' />
    </form>
    <img src = {{f2}} />
    <form>
      <input type='text' value='First Transformation' />
    </form>
    <img src = {{f3}} />
    <form>
      <input type='text' value='Second Transformation' />
    </form>
    <img src = {{f4}} />
    <form>
      <input type='text' value='Third Transformation' />
    </form>

  </body>
</html>

